@mixin alignCenter {
    top: 50%;
    transform: translateY(-50%);
}
.wrapper {
    --search-border-radius: 92px;
    --search-btn-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}
.inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
}

.search-result,
.search {
    width: 361px;
}
.search {
    position: relative;
    height: 46px;
    padding-left: 16px;
    display: flex;
    background-color: rgba(22, 34, 25, 0.06);
    border: 2px solid transparent;
    border-radius: var(--search-border-radius);
    input {
        flex: 1;
        height: 100%;
        border: none;
        outline: none;
        caret-color: var(--primary);
        background-color: transparent;
        color: var(--black);
        font-size: 1.6rem;
    }
    input:not(:placeholder-shown) ~ .search-btn {
        background-color: rgba(22, 34, 25, 0.075);
    }
    &:focus-within {
        border-color: rgba(22, 34, 25, 0.12);
    }
}

.clear,
.loading {
    @include alignCenter;
    position: absolute;
    color: rgba(22, 24, 35, 0.34);
    right: calc(var(--search-btn-width) + 16px);
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.search-btn {
    position: relative;
    width: var(--search-btn-width);
    height: 100%;
    font-size: 1.8rem;
    background-color: transparent;
    color: rgba(22, 24, 35, 0.34);
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
    &::after {
        content: '';
        width: 1px;
        height: 28px;
        background-color: rgba(22, 24, 35, 0.12);
        position: absolute;
        left: 0;
        @include alignCenter;
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
